body {
  
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Button */
.button {
  height: 5vh;
  text-align: center;
  cursor: pointer;
}

/*DarkMode*/
 .dark-mode {
 
  background-color: black;
  color: white;
}

.light-mode {
 
  background-color: rgba(149, 174, 216, 0.215);
  color: black;
}
