//Mobile styles 
@media (min-width: 640px) {
    
    .view-div {
        background-color: rgba(149, 174, 216, 0.215);
        width: 100vw;
        height: 100vh;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
       
    }
  }
  



//Main container
.view-div {
    background-color: rgba(149, 174, 216, 0.215);
    width: 100vw;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

//Name header
.title {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

//Div with character info
.content-detail {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

//Div with ID, Status, Specie
.info-detail{
background-color:rgba(149, 174, 216, 0.215);
padding: 3em;
}

li {
 
    font-weight: bold;
}



.detail-li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

//Image div
.img-div {
    padding: 3em;   
}

//Button to Home
.detail-button{
    padding: 1em;
    cursor: pointer;
    transition: all 1s;
}

.toLight {
    border: 1px solid black;   
}

.toDark {
    border: 1px solid white;
}

.detail-button:hover {
    opacity: 50%;
}






//Handle-error Detail's view
.error-view {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: red;
font-size: 2em;

}

.error-button {
    border: 2px solid red;
    box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.2);    
}

.error-button:hover{
    cursor: pointer;
    opacity: 40%;
}